/*mobile version*/

.page {
    /*display: flex;*/
    flex-direction: column;
    font-family: Arial;
}

.personalia {
    background-color: #e7e8ec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
}

.person-logo {
    border: 4px solid;color: rgb(5, 115, 120);
    ;
    border-radius: 50%;
    margin: 20px 0px 0px 0px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

/*  TITEL   */
.profile-content__category-title {
    color: rgb(5, 115, 120);
}

/*  ELEMENT BLOCK   */
.profile-content__element {
    display: flex;
    flex-direction: column;
}

/*  TITLE VAN ELEMENT IN DE CATEGORIE   */
.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

/*  TIJDSDUUR VAN CONTENT   */
.profile-content__period {
    display: none;
    color: rgb(5, 115, 120);
}

/*  ONDERSCHRIFT   */
.profile-content__institute {
    color: rgb(5, 115, 120);
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

      
    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
        
    }

    .profile-content__period {
        font-size: 12px;
        display: flex;
        
    }

}




